@model IEnumerable<OG_SLN.SET_BOOK_GROUP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class="btn btn-primary"})
</p>
<table class="table table-responsive">
    <tr>

        <th>
            Group Name
        </th>
        <th>
            Group Description
        </th>
        
        <th>
            Active
        </th>
        <th>
            Active From
        </th>
        <th>
            Active To
        </th>
        <th>
            Sl Num
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_GROUP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_GROUP_DESC)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE_GROUP)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.ACTIVE_FROM, "{0:yyyy-MM-dd}")
        </td>
        <td>
            @Html.ValueFor(modelItem => item.ACTIVE_TO, "{0:yyyy-MM-dd}")
        </td>
        <td>
            @Html.ValueFor(modelItem => item.SL_NUM, "{0:0}")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BOOK_GROUP_NO }) |
            @Html.ActionLink("Details", "Details", new { id = item.BOOK_GROUP_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BOOK_GROUP_NO })
        </td>
    </tr>
}

</table>
