@model OG_SLN.SET_SPECIMEN

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Specimen</legend>

   <div class="new_FormDiv">
            <div class="editor-label">
                Specimen Name
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.SPECIMEN_NAME)
                @Html.ValidationMessageFor(model => model.SPECIMEN_NAME)
            </div>
            <div class="editor-label">
                Specimen Code
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.SPECIMEN_CODE)
                @Html.ValidationMessageFor(model => model.SPECIMEN_CODE)
            </div>
            <div class="editor-label">
                BNG Name
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.SPECIMEN_NAME_BNG)
                @Html.ValidationMessageFor(model => model.SPECIMEN_NAME_BNG)
            </div>
            <div class="editor-label">
                Description
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.DESC_SPECIMEN)
                @Html.ValidationMessageFor(model => model.SPECIMEN_DESC)
            </div>
            <div class="editor-label">
                Book Type
            </div>
            <div class="editor-field">
                @Html.ValueFor(model=>model.SET_BOOK_TYPE.BOOK_TYPE_NAME)
                @Html.ValidationMessageFor(model => model.BOOK_TYPE_NO)
            </div>
            <div class="editor-label">
                Specimen UNQ CODE
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.BOOK_UNIQUE_CODE)
                @Html.ValidationMessageFor(model => model.BOOK_UNIQUE_CODE)
            </div>
            <div class="editor-label">
                Active
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.ACTIVE_SPECIMEN)
                @Html.ValidationMessageFor(model => model.ACTIVE_SPECIMEN)
            </div>
            <div class="editor-label">
                Active From
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.ACTIVE_FROM, "{0:yyyy-MM-dd}")
                @Html.ValidationMessageFor(model => model.ACTIVE_FROM)
            </div>
            <div class="editor-label">
                Active To
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.ACTIVE_TO, "{0:yyyy-MM-dd}")
                @Html.ValidationMessageFor(model => model.ACTIVE_TO)
            </div>

        </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete"  class="btn btn-danger"/> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
