@model IEnumerable<OG_SLN.TPR_UPLOAD_SUBJECTS_GET_Result>

@{
    int serial = 1;
}

@foreach (var item in Model)
{
    <tr class="trhead">
        <td>@serial</td>

        <td><p>@item.SUBJECT_NAME<br />
            (@item.SUBJECT_NAME_BNG)</p></td>
        
        <td>
            @if (item.UPLOAD_CNT > 0)
            {
                <img src="../../Images/correct.gif"  alt="" width="16" />  
            }
            else
            {
                <img src="../../Images/delete.gif"  alt="" width="16" /> 
            }
        </td>

        <td>
            <a href="#" class="upload_cnt" data-sub-no="@item.INS_SUBJECT_NO">@item.UPLOAD_CNT</a>
            <div class="file-names" id="file-names-@item.INS_SUBJECT_NO"></div>
        </td>

        <td>
        <button class="btn btn-success AttachButton" data-sub-no="@item.INS_SUBJECT_NO"  data-toggle="modal" data-target="#uploads">Attach</button>
        </td>
    </tr> 
    
    serial++;
}