@model OG_SLN.TPR_PROJECT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TPR_PROJECT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PROJECT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PROJECT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SET_CLASS.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SET_CLASS.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DECLARE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DECLARE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEADLINE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEADLINE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_ACTIVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_ACTIVE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PROJECT_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
