@using OG_SLN;

@model TPR_PROJECT_INSTITUTE


@{
    ViewBag.Title = "Select";
    List<SET_CLASS_SUBJECT_GET_Result> Subjects = ViewBag.Subjects as List<SET_CLASS_SUBJECT_GET_Result>;
    TPR_PROJECT project = ViewBag.Project as TPR_PROJECT;
}
<script src="@Url.Content("~/Scripts/autocomplete-2-table.js")" type="text/javascript"></script>

<style type="text/css">
    .tdLeft
    {
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    var is_ins_assigned = false;

    function getSubjects(project_ins_no, sub_type)
    {
        var url = '@Url.Content("~")' + 'QuestionProject/GetSubjects?p_ins='+ project_ins_no + '&type='+sub_type;
        $.get(url, function (res) {
            $('#div_subjects').html(res);
            $('#div_subjects').show();
        });

        return false;
    }

    function deleteAssignment(project_ins_no)
    {
        if(confirm("Do you really want to delete this assignment?"))
        {
            var url = '@Url.Content("~")' + 'QuestionProject/DeleteAssign?id='+ project_ins_no;
            $.get(url, function(res) {
                if(res.message == 'success')
                {
                    var pid = $('#PROJECT_NO').val();
                    var uid = $('#USER_NO').val();
                    var ins_no = $('#INSTITUTE_NO').val();

                    $.get("@Url.Content("~")" + "QuestionProject/GetAssignments?pid=" 
                                              + pid + '&uid=' + uid + '&ins_no=' + ins_no, function(res) {
                        $('#assign_list tbody tr:gt(1)').remove();
                        $('#assign_list tbody').append(res);

                        $(window).scrollTop($('#assign_list').offset().top);
                    });
                }
            });
        }
        return false;
    }

    $(document).ready(function () {
        $('.ui-autocomplete table tbody tr').live('click', function () {
            var pid = $('#PROJECT_NO').val();
            var uid = $('#USER_NO').val();
            var ins_no = $('#INSTITUTE_NO').val();

            $.get("@Url.Content("~")" + "QuestionProject/GetAssignments?pid=" 
                                      + pid + '&uid=' + uid + '&ins_no=' + ins_no, function(res) {
                $('#assign_list tbody tr:gt(1)').remove();
                $('#assign_list tbody').append(res);
                
                if($('.assignments').length > 0)
                {
                    is_ins_assigned = true;
                    $('#ins_table').append('<tr><td colspan="2" style="color: Red">This institute is already assigned.</td></tr>')
                }
                else
                {
                    is_ins_assigned = false;
                }
            });

            var content = '';

            if (which_one == 0) // zonal manager
            {
                content += '<table class="table table-responsive table-bordered tabWidth">';
                content += '<tr><td class="tdLeft">Zonal Manager :</td><td>' + zm_fullname + '</td></tr>';
                content += '<tr><td class="tdLeft">Username :</td><td>' + zm_username + '</td></tr>';
                content += '<tr><td class="tdLeft">Designation :</td><td>' + zm_designation + '</td></tr>';
                content += '<tr><td class="tdLeft">Mobile :</td><td>' + zm_mobile + '</td></tr>';
                content += '<tr><td class="tdLeft">Division :</td><td>' + zm_division + '</td></tr>';
                content += '<tr><td class="tdLeft">Zilla :</td><td>' + zm_zilla + '</td></tr>';
                content += '<tr><td class="tdLeft">Thana :</td><td>' + zm_thana + '</td></tr>';
                content += '</table>';

                $('#zm_res').html(content);
            }
            else if (which_one == 1)    // institute
            {
                content += '<table id="ins_table" class="table table-responsive table-bordered tabWidth">';
                content += '<tr><td class="tdLeft">Institute :</td><td>' + ins_name + '</td></tr>';
                content += '<tr><td class="tdLeft">Code :</td><td>' + ins_code + '</td></tr>';
                content += '<tr><td class="tdLeft">Division :</td><td>' + ins_division + '</td></tr>';
                content += '<tr><td class="tdLeft">Zilla :</td><td>' + ins_zilla + '</td></tr>';
                content += '<tr><td class="tdLeft">Thana :</td><td>' + ins_thana + '</td></tr>';
                content += '</table>';

                $('#ins_res').html(content);
            }
        });

        $('#allsubject').change(function () {
            if ($(this).is(':checked')) {
                $('.subject').prop('checked', true);
                $('.targetdate').val($('#alltargetdate').val());
            }
            else {
                $('.subject').prop('checked', false);
                $('.targetdate').val('');
            }
        });

        $('#Submit').click(function () {
            if(!is_ins_assigned)
            {
                var pid = $('#PROJECT_NO').val();
                var uid = $('#USER_NO').val();
                var ins_no = $('#INSTITUTE_NO').val();

                if(uid.length && ins_no.length && $('.subject:checked').length)
                {
                    var data = $('form').serialize();
                    $.post("@Url.Content("~")" + "QuestionProject/Select", data, function(res) {
                        $('#assign_list tbody tr:gt(1)').remove();
                        $('#assign_list tbody').append(res);

                        $('.subject').prop('checked', false);
                        $('#txtINS').val('');
                        $('#INSTITUTE_NO').val('');
                        $('#ins_res').html('');
                    });
                }
                else
                {
                    alert("Please select at least one ZM, Institute and Subject !!");
                }
            }
            else
            {
                alert("This institute is already assigned. Please select another institute.");
            }
            
            return false;
        });
    });
</script>
@using (Html.BeginForm())
{
<table class="table table-responsive table-bordered tabWidth">
    <tr>
        <td colspan="4" style="text-align:center">
            <h2>Assign Person and Institute to Question Project</h2>
            @Html.Hidden("PROJECT_NO", project.PROJECT_NO)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">Name:</td>
        <td>@project.PROJECT_NAME</td>
        <td class="tdLeft">Project Deadline:</td>	
        <td>@project.DATE_DEADLINE</td>
    </tr>
    <tr>
        <td class="tdLeft">Class:	</td>
        <td>@project.SET_CLASS.CLASS_NAME</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="adminLef_col" style="font-weight:bold">
            ZM(iSearch):
        </td>
        <td>
            <input id="txtZM" type="text" class="form-control" />
            @Html.Hidden("USER_NO", "")
        </td>

        <td class="tdLeft">Select Institution:</td>
        <td>
            <input id="txtINS" type="text" class="form-control" />
            @Html.Hidden("INSTITUTE_NO", "")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="zm_res">
            </div>
        </td>
        <td colspan="2">
            <div id="ins_res">
            </div>
        </td>
    </tr>
</table>


<table class="table table-responsive table-bordered  tabWidth">
    <tr>
        <td colspan="7" style="font-weight:bold">Collection Subject:</td>
    </tr>

    <tr>
        <td>
            <input type="checkbox" name="allsubject" id="allsubject" />
            Select All
        </td>
        <td>Target Collection Date:</td>
        <td colspan="5">
            <input type="text" name="alltargetdate" id="alltargetdate" class="form-control dateclass" style="width:auto" /> 
        </td>
    </tr>

@{
    int subject_count = Subjects.Count;
    int i = 0;
    Institute_Subject subject = new Institute_Subject();

    while (subject_count > 0)
    {
        <tr>
            @if (subject_count > 0)
            {
                SET_CLASS_SUBJECT_GET_Result sub = Subjects.ElementAt(i);

                subject.SUBJECT_NO = (decimal)sub.SUBJECT_NO;
                subject.SUBJECT_NAME = sub.SUBJECT_NAME;
                subject.SUBJECT_NAME_BNG = sub.SUBJECT_NAME_BNG;
                subject.IS_ACTIVE = false;

                Html.RenderPartial("_InstituteSubjectPartial", subject);
                subject_count--; i++;
            }
            @if (subject_count > 0)
            {
                SET_CLASS_SUBJECT_GET_Result sub = Subjects.ElementAt(i);

                subject.SUBJECT_NO = (decimal)sub.SUBJECT_NO;
                subject.SUBJECT_NAME = sub.SUBJECT_NAME;
                subject.SUBJECT_NAME_BNG = sub.SUBJECT_NAME_BNG;
                subject.IS_ACTIVE = false;

                Html.RenderPartial("_InstituteSubjectPartial", subject);
                subject_count--; i++;
            }
            else
            {
                <td colspan="3">&nbsp;</td>
            }
        </tr>
    }
}

    <tr>
        <td colspan="7" style="text-align:center;">
            <input class="btn btn-success" type="submit" name="Submit" id="Submit" value="Assign" />
        </td>
    </tr>
</table>
}

    <table id="assign_list"  class="table table-responsive table-bordered tabWidth">
        <tr class="trhead">
          <td colspan="7" class="TableHeadLabel tdLeft">Assigned Institution &amp; Subject List</td>
        </tr>
        <tr class="trhead">
          <td class="tdLeft">Serial</td>
          <td class="tdLeft"><p>Institution Name<br />
          (Code)</p></td>
          <td class="tdLeft">Division,<br />
            Zilla,<br />
            Thana</td>
          <td class="tdLeft">Total Subject <br />
            Assign</td>
          <td class="tdLeft">Total Subject <br />
            Collect</td>
          <td class="tdLeft">Assign Datetime</td>
          <td class="tdLeft">Action</td>
        </tr>
  </table>


<div class="modal fade bs-example-modal-lg" id="subjects" tabindex="-1" role="dialog"
    aria-labelledby="downloadModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="div_subjects">
                </div>
            </div>
        </div>
    </div>
</div>
