@model OG_SLN.TRN_EXPENSE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@section shadScripts {
    @Html.Raw(ViewBag.jsmsg)
}
<script type="text/javascript">

    function setEdit(id2) {
        $.post("@Url.Content("~")"+"Expense/getPreviousDetailsWithoutButton",{id:id2},
        function(data){
            $("#tblDetails > tbody").html(data.html);
        });
    }   
        
</script>
 <fieldset>
        <legend>Expense</legend>
        <div class="new_FormDiv">
         <div class="editor-label">
                User:
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.SEC_USERS.USER_NAME)
            </div>
            <div class="editor-label">
                Fiscal Year
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.SET_FISCAL_YEAR.FY_NAME)
                
            </div>
           
            <div class="editor-label">
                Date
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.TRN_EXP_DATE,"{0:yyyy-MM-dd}")
                
            </div>
            <div class="editor-label">
                Remarks
            </div>
            <div class="editor-field">
                @Html.ValueFor(model => model.Remarks_desc)
            </div>
        </div>
    </fieldset>
    <table id="tblDetails" class="table table-responsive">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Amount
            </th>
            <th>
                Vendor
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<p>
 <div class="btn-group btn-group-sm">
    @Html.ActionLink("Edit", "Edit", new { id = Model.EXP_NO }, new { @class="btn btn-warning"}) |
    @Html.ActionLink("Back to List", "Index",new{},new{@class="btn btn-primary"})
    </div>
</p>
