@model OG_SLN.SET_FISCAL_YEAR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SET_FISCAL_YEAR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FY_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FY_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.START_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.START_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_CURRENT_YEAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_CURRENT_YEAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_ACTIVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_ACTIVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACTIVE_FROM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACTIVE_FROM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACTIVE_TO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACTIVE_TO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SL_NUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SL_NUM)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FY_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
