
<script type="text/javascript">

    function get_zilla(){ 
        $.ajax({
            url: "@Url.Content("~")"+"web/webrequests/zilla/"+$("#Division_No").val(),
            dataType: "json",
            success: function(data) {
                $("#Zilla_No").empty();
                $("#Zilla_No").append('<option value=""></option>');
                $.each(data, function(i, val){
                    $("#Zilla_No").append('<option value="' + val.zillano + '">' + val.zillaname + '</option>');
                }); 
                        
            }, error: function(data) {
                console.log('error :' + data);
            }
        });
    }

    function get_thana(){
        $.ajax({
            url: "@Url.Content("~")"+"web/webrequests/thana/"+$("#Zilla_No").val(),
            dataType: "json",
            success: function(data) {
                $("#Zonal_Thana").empty();
                $("#Zonal_Thana").append('<option value=""></option>');
                $.each(data, function(i, val){
                    $("#Zonal_Thana").append('<option value="' + val.thanano + '">' + val.thananame + '</option>');
                }); 
                        
            }, error: function(data) {
                console.log('error :' + data);
            }
        });
    }
    

    function authority_search() {
        var form = $('#GetReportingAuthorityForm');

        var user_type = $('#USER_TYPE_NO').val();

        $.ajax({
            url: "@Url.Content("~")" + "web/webrequests/authority/"+user_type,
            type: 'POST',
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var resdiv = $('#zonal_result');
                $(resdiv).empty();

                if(data.length > 0)
                {
                    var header = '<tr><th>Select</th><th>Full Name</th><th>HR ID</th><th>Mobile</th><th>Email</th></tr>';
                    $(resdiv).append(header);
                }

                $.each(data, function(i, v) {
                    var html = '';
                    html += '<tr>';
                    html += '<td><a href="#" class="selectlink" no="'+v.authno+'">Select</a></td>';
                    html += '<td>'+ v.authname + '</td>';
                    html += '<td>'+ v.authhremp +'</td>';
                    html += '<td>'+ v.authmobile +'</td>';
                    html += '<td>'+ v.authemail +'</td>';
                    html += '</tr>';

                    $(resdiv).append(html);
                });

                $('.selectlink').live('click', function () {
                    var zonalno = $(this).attr('no');
                    $("#USER_PARENT_NO").val(zonalno);
                    $("#Selected_Authority").val($(this).parent().next().text());
                    $("#Zonal_Name").val($(this).parent().next().text());
                    $('div.ui-dialog-content').remove();
                });
            }
        });
    }
    
</script>


<style type="text/css">
    .Left_col
    {
        width: 120px;
        vertical-align: top;
    }
    
    .Right_col
    {
        width: 150px;
        padding: 0 15px 20px 0;
    }
</style>

@{
    decimal? parent_no = null;
}
@if (ViewBag.Zonal_Parent_No != null)
{
    parent_no = ViewBag.Zonal_Parent_No as decimal?;
}

@using (Html.BeginForm("GetReportingAuthorityForm", "Users", FormMethod.Post, new { @id = "GetReportingAuthorityForm" }))
{ 
    @Html.ValidationSummary(true)

    <div>
    <table>
      <tr>
        <td class="Left_col">Name:</td>
        <td class="Right_col">
            <input class="form-control" type="text" name="Zonal_Name" id="Zonal_Name" value="" />
            
            <input class="form-control" type="hidden" name="Zonal_Parent" id="Zonal_Parent" value="@parent_no" />
            <input class="form-control" type="hidden" name="Zonal_User_Type" id="Zonal_User_Type" value="" />
        </td>

        <td class="Left_col">Hr ID:</td>
        <td class="Right_col">
            <input class="form-control" type="text" name="Zonal_Hrid" id="Zonal_Hrid" value="" />
        </td>
      </tr>

      <tr>
        <td class="Left_col">Username:</td>
        <td class="Right_col">
            <input class="form-control" type="text" name="Zonal_Username" id="Zonal_Username" value="" />
            
        </td>

        <td class="Left_col">Mobile:</td>
        <td class="Right_col">
            <input class="form-control" type="text" name="Zonal_Mobile" id="Zonal_Mobile" value="" />
        </td>
      </tr>

      <tr>
        <td class="Left_col">Email:</td>
        <td class="Right_col">
            <input class="form-control" type="text" name="Zonal_Email" id="Zonal_Email" value="" />
        </td>

        <td class="Left_col">Division:</td>
        <td class="Right_col">
            @Html.DropDownList("Division_No", ViewBag.Division_No as IEnumerable<SelectListItem>, String.Empty, new { @onchange="get_zilla();" })
        </td>
      </tr>


      <tr>
        <td class="Left_col">Zilla:</td>
        <td class="Right_col">
            @Html.DropDownList("Zilla_No", null, new { @onchange = "get_thana();" })
        </td>

        <td class="Left_col">Thana:</td>
        <td class="Right_col">
            @Html.DropDownList("Zonal_Thana", String.Empty)
        </td>
      </tr>


      <tr>
        <td class="Left_col">Department:</td>
        <td class="Right_col">
            <!--input class="form-control" type="text" name="Zonal_Dept" id="Zonal_Dept" value="" /-->
            @Html.DropDownList("Zonal_Dept", String.Empty)
        </td>

        <td class="Left_col">Designation:</td>
        <td class="Right_col">
            <!--input class="form-control" type="text" name="Zonal_Desig" id="Zonal_Desig" value="" /-->
            @Html.DropDownList("Zonal_Desig", String.Empty)
        </td>
      </tr>

      <tr>
        <td>
            <input class="btn btn-success butTop_1" type="button" onclick="authority_search();" value="Get Reporting Authority" />
        </td>
       </tr>
    </table>
    </div>
}

<table id="zonal_result">
    
</table>
