@model OG_SLN.SEC_USERS

@{
    string type = ViewBag.User_Type as string;
    
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

<div>
    @Model.USER_FULL_NAME
    <br />
    User Type : @type
</div>

<div class="col-6 col-sm-6 col-lg-9">

 @using (Html.BeginForm(ViewContext.RouteData.GetRequiredString("action"), ViewContext.RouteData.GetRequiredString("Controller"), FormMethod.Post, new { @class = "form-horizontal" }))
 {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.USER_NO)
        <fieldset>
            <legend>Change Password</legend>


             <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">
                     @Html.LabelFor(model => model.USER_PWD)
                </label>
                <div class="col-sm-4">
                     @Html.PasswordFor(model => model.USER_PWD, new { @class = "form-control" })
                     @Html.ValidationMessageFor(model => model.USER_PWD)
                </div>
             </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">
                     @Html.LabelFor(model => model.RETYPE_PASSWORD)
                </label>
                <div class="col-sm-4">
                     @Html.PasswordFor(model => model.RETYPE_PASSWORD, new { @class = "form-control" })
                     @Html.ValidationMessageFor(model => model.RETYPE_PASSWORD)
                </div>
             </div>

             <input type="hidden" name="User_ViewType" value="@type"/>

             <div class="form-group">
                <div style="margin-left:390px;">
                    <input class="btn btn-success" type="submit"  value="Save" />
                </div>
             </div>
  
        </fieldset>
 }

 </div>
          
