@model OG_SLN.SET_BOOK_PROJ_TYPE

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SET_BOOK_PROJ_TYPE</legend>
        <div class="new_FormDiv">
       

        <div class="editor-label">
            @Html.LabelFor(model => model.BOOK_PROJ_TYPE_NAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BOOK_PROJ_TYPE_NAME)
            @Html.ValidationMessageFor(model => model.BOOK_PROJ_TYPE_NAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BOOK_PROJ_TYPE_DESC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BOOK_PROJ_TYPE_DESC)
            @Html.ValidationMessageFor(model => model.BOOK_PROJ_TYPE_DESC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BOOK_BRAND_TYPE_NO, "SET_BOOK_BRAND_TYPE")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BOOK_BRAND_TYPE_NO, new SelectList(ViewBag.brandType as System.Collections.IEnumerable,
                "BOOK_BRAND_TYPE_NO", "BOOK_BRAND_TYPE_NAME"))
            @Html.ValidationMessageFor(model => model.BOOK_BRAND_TYPE_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACTIVE_PROJ_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACTIVE_PROJ_TYPE)
            @Html.ValidationMessageFor(model => model.ACTIVE_PROJ_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACTIVE_FROM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACTIVE_FROM, new { @class="datesinspec"})
            @Html.ValidationMessageFor(model => model.ACTIVE_FROM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACTIVE_TO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACTIVE_TO, new { @class = "datesinspec" })
            @Html.ValidationMessageFor(model => model.ACTIVE_TO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SL_NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SL_NUM)
            @Html.ValidationMessageFor(model => model.SL_NUM)
        </div>

        <p>
            <input type="submit" value="Create" class="btn btn-success" />
        </p></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class="btn btn-primary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
