@model OG_SLN.SET_CLIENT_INFO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SET_CLIENT_INFO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAST_ACTION_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAST_ACTION_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSERT_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSERT_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDATE_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDATE_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_MIGRATED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_MIGRATED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MIGRATE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MIGRATE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MIGRATE_COMMENTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MIGRATE_COMMENTS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_NAME_BNG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_NAME_BNG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_NICK_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_NICK_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_DOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_MARRIAGE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_MARRIAGE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_ADDR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_ADDR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_COMENTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_COMENTS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SET_DIVISION.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SET_DIVISION.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SET_ZONE.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SET_ZONE.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SET_ZILLA.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SET_ZILLA.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SET_THANA.LAST_ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SET_THANA.LAST_ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_OFFLINE_ENTRY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_OFFLINE_ENTRY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFLINE_ENTRY_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFLINE_ENTRY_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFLINE_ENTRY_SYNC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFLINE_ENTRY_SYNC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_APPROVED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_APPROVED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APPROVE_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APPROVE_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APPROVE_USER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APPROVE_USER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APPROVE_LOGON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APPROVE_LOGON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_PROCESSED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_PROCESSED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_VOID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_VOID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_EXIST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_EXIST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_ACTIVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_ACTIVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACTIVE_FROM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACTIVE_FROM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACTIVE_TO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACTIVE_TO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SL_NUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SL_NUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT_MOBILE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT_MOBILE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
